@font-face {
    font-family: good-times-font;
    src: url("../../../assets/fonts/good_times.ttf");
}

#allCharacters{
	width:606px;
    height:474px;
	float:left;
	background-image: url("../../../assets/selection/charbackground.png");
	margin-top: 15px;
}

#title{
	width:606px;
	height:40px;
	font-size:24px;
	color:white;
	margin-left:60px;
	margin-top:10px;
	font-family: good-times-font;
}

#characters{
	width:520px;
	height:410px;
	margin-left:25px;
	overflow: scroll;
}

.characterProfile{
	width:57px;
	height:72px;
	float:left;
	margin-left:12px;
	margin-top:5px;
}

.characterImg{
	width:57px;
	height:57px;
}

.characterImg img{
	width:55px;
	height:55px;
	border: 1px solid white;
}

.inactive{
	opacity: 0.5;
}

.characterName{
	width:57px;
	height:15px;
	color:white;
}

#characters::-webkit-scrollbar-thumb {
	border:3px solid;
	background-color: white;
}

#characters::-webkit-scrollbar {
	width: 24px;
}
