<div id="allCharacters">
    <div id="title">{{_stateOfCharacterSelection}}</div>
    <div id="characters" *ngIf="allCharacter">
        <div class="characterProfile" *ngFor="let character of allCharacter">
            <div class="characterImg">
                <img src="{{character.img}}" (dblclick)="onCharacterDoubleClick(character)" 
                    [class.inactive]="!character.owned"/>
            </div>
            <div class="characterName">
                {{character.name}}
            </div>
        </div>
    </div>
</div>
