<div id="gameZone">
	<div id="playerArea">
		<div class="playerCharacterArea" *ngFor="let character of characters; let i = index">
			<div class="buffs">
				<div class="tooltip">
					<img src="{{character.item.imageName}}" />
					<span class="tooltiptext">{{character.item.description}}</span>
				</div>
				<div class="tooltip" *ngFor="let buff of friendlyCharacterBuffs[i]; let j = index">
					<img src="{{buff.skill.imageName}}" (click)="handleFriendlyBuffClick(i, j)" />
					<span class="tooltiptext">{{buff.skill.description}}</span>
				</div>
			</div>
			<div class="characterImageAndRank" [ngStyle]="{'top.px':60 + (i * 130)}">
				<img src="{{userRankImage}}" [ngStyle]="{'z-index': userRankZindex , 'position':'absolute', 'top.px':0}" 
					class="notBordered" />
			</div>
			<div class="floating-box center" [ngStyle]="{'top.px':60 + (i * 130)}">
				<img [ngClass]="{'targetAble':ownTargetAble[i]}" src="{{character.imageName}}" />
			</div>
			<div class="friendlyImageDicInvisible" [ngStyle]="{'z-index':'2000' , 'top.px':60 + (i * 130)}" (click)="friendlyImageClickHandler(character, i)"></div>
			<div class="playerHealthBarWhiteBack" [ngStyle]="{'top.px':60 + (i * 130)}"></div>
			<div class="playerHealthBarLineBack" [ngStyle]="{'top.px':61 + (i * 130), 'background-color' : getHealtBarColor(character.actualHealth), 'width.px' : getHealthBarWidth(character.actualHealth, character.health)}"></div>
			<div class="playerHealthBar" [ngStyle]="{'top.px':60 + (i * 130)}">{{character.actualHealth}}/{{character.health}}</div>
			<div class="floating-box item" (click)="handleSkillClick(character.skills[0])">
				<img src="{{character.skills[0].imageName}}" [ngClass]="{'greyedImage':skillAvailabilities[i][0]}"/>
			</div>
			<!-- TODO ide is kell majd number image-->
			<div class="floating-box skill" *ngFor="let skill of character.skills | slice:1:7; let j = index" (click)="handleSkillClick(skill)">
				<img src="{{skill.imageName}}" class="rightBottom" [ngClass]="{'greyedImage':skillAvailabilities[i][j + 1]}" />
				<ul></ul>
				<div class="numberImage" *ngIf="skill.actualCooldown > 0 && ownTheRound" [ngStyle]="{'top.px': 134*(1+index) , 'left.px': 227 + (j*67)}">{{skill.actualCooldown}}</div>
			</div>
		</div>
	</div>
	<div id="enemyArea">
		<div class="enemyCharacterArea" *ngFor="let enemy of enemyCharacters; let i = index">
			<div class="enemyBuffs" [ngStyle]="{'z-index':'20' , 'position':'absolute' , 'top.px':90 + (i*130)}">
				<div class="tooltip">
					<img src="{{enemy.item.imageName}}" />
					<span class="tooltiptext">{{enemy.item.description}}</span>
				</div>
				<div class="tooltip" *ngFor="let buff of enemyCharacterBuffs[i]; let j = index">
					<img src="{{buff.skill.imageName}}" (click)="handleEnemyBuffClick(i, j)" class="tooltip" />
					<span class="tooltiptext">{{buff.skill.description}}</span>
				</div>
			</div>
			<div class="characterImageAndRank" [ngStyle]="{'top.px':60 + (i*130) , 'left.px':890 , 'float':'right'}">
				<img src="{{enemyRankImage}}" [ngStyle]="{'z-index': enemyRankZindex , 'position':'absolute' , 'top.px':0}"
				 class="notBordered" />
			</div>
			<div class="enemyImageDiv" [ngStyle]="{'z-index':'20' , 'position':'absolute' , 'top.px':90 + (i*130) , 'left.px':865}">
				<img [ngClass]="{'targetAble':enemyTargetAble[i]}" src="{{enemy.imageName}}" />
			</div>
			<div class="enemyImageDivInvisible" [ngStyle]="{'z-index':'2000' , 'position':'absolute' , 'top.px':90 + (i*130) , 'left.px':865}"
			 (click)="enemyImageClickHandler(enemy, i)"></div>
			<div class="enemyHealthBarWhiteBack" [ngStyle]="{'z-index':'20' , 'position':'absolute' , 'top.px':170 + (i*130) , 'left.px':865}"></div>
			<div class="enemyHealthBarLineBack" [ngStyle]="{'z-index':'20' , 'position':'absolute' , 'top.px':171 + (i*130) , 'left.px':866, 'background-color' : getHealtBarColor(enemy.actualHealth), 'width.px' : getHealthBarWidth(enemy.actualHealth, enemy.health)}"></div>
			<div class="enemyHealthBar" [ngStyle]="{'z-index':'20' , 'position':'absolute' , 'top.px':170 + (i*130) , 'left.px':865}">{{enemy.actualHealth}}/{{enemy.health}}</div>
		</div>
	</div>
	<div class="clear"></div>
</div>