@font-face {
    font-family: good-times-font;
    src: url(../../../assets/fonts/good_times.ttf);
}

.clear {
	clear:both;
}

#gameZone{
    width:1000px;
    height:405px;
}

#enemyArea{
    width:275px;
    height:405px;
	float:right;
}

#playerArea{
    width:725px;
    height:405px;
	float:left;
}

.enemyCharacterArea{
    width:250px;
    height:135px;
	float:left;
}

.enemyCharacterArea.characterImageAndRank img{
    -moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
}

.playerCharacterArea{
    width:750px;
    height:130px;
    float:left;
	background-image: url("../../../assets/game/skillbar.png");
}

.characterImageAndRank{
	position: absolute;
	width:110px;
	height:140px;
	margin-bottom:50px;
}

.skillBar{
	width:640px;
    height:130px;
	float:right;
}


.item img{
	margin-top:16px;
	margin-left:145px;
	margin-right:22px;
}

.skill img{
	margin-right:8px;
}

img:not(.button):not(.notBordered){
    border: 1px solid;
}

.floating-box img{
    float: left;
    width: 57px;
    height: 57px;
}

.numberImage{
	z-index:2;
	position:absolute;
	width:57px;
	height:57px;
	font-family: good-times-font;
    color: white;
	font-size:47px;
    text-align: center;
}

.playerHealthBar{
    width: 77px;
    height: 17px;
    margin: 110px 0px 5px 55px;
    text-align: center;
	font-family: Tahoma;
	font-size:12px;
	position:absolute;
	top:0px;
	z-index:3;
}

.playerHealthBarWhiteBack{
	width: 75px;
    height: 15px;
    margin: 110px 0px 5px 55px;
    text-align: center;
    border: 1px solid;
	background-color:white;
	font-family: Tahoma;
	font-size:12px;
	position:absolute;
	top:0px;
	z-index:1;
}

.playerHealthBarLineBack{
    height: 15px;
    margin: 110px 0px 5px 56px;
    text-align: center;
	font-family: Tahoma;
	font-size:12px;
	position:absolute;
	top:0px;
	z-index:2;
}

.buffs{
    width:490px;
    height: 27px;
	margin-left:130px;
}

.buffs img{
	width:25px;
	height:25px;
}

.enemyImageDiv{
	width:77px;
    height: 77px;
	margin-top: 0px;
	z-index:1000;
	background-color:red;
}

.enemyImageDivInvisible{
	width:77px;
    height: 77px;
	margin-top: 0px;
}

.friendlyImageDicInvisible{
	float:left;
	width:77px;
      height:77px;
      margin-left: 55px;
      margin-top: 30px;
      position:absolute;
      top:0px;
}

.enemyImageDiv img{
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
}

.enemyHealthBar{
    width:75px;
    height: 15px;
    border: 1px solid;
    text-align: center;
	font-family: Tahoma;
	font-size:12px;
	position:absolute;
	right:53px;
	top:110px;
	z-index:3;
}

.enemyHealthBarWhiteBack{
	width:75px;
    height: 15px;
    border: 1px solid;
    text-align: center;
	background-color:white;
	position:absolute;
	right:53px;
	top:111px;
	z-index:1;
}

.enemyHealthBarLineBack{
    height: 15px;
    text-align: center;
	position:absolute;
	right:53px;
	top:110px;
	z-index:2;
}

.enemyBuffs{
    width:140px;
    height: 80px;
    float:left;
}

.enemyBuffs img{
	float:right;
	margin-right: 2px;
	margin-bottom: 2px;
	width:25px;
	height:25px;
}

.enemyBuffs div{
	float:right;
}

.enemyCharacterArea .characterImageAndRank img{
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
}

ul {
    list-style-type: none;
  }
  
  .center{
      float:left;
      background-color:#4dff4d;
      width:77px;
      height:77px;
      margin-left: 55px;
      margin-top: 30px;
      position:absolute;
      top:0px;
      z-index:1;
  }
  
  .center img{
      width:75px;
      height:75px;
  }

.targetAble{
	opacity: 0.65;
}

.greyedImage{
	opacity: 0.65;
}

.tooltip {
    position: relative;
	display: inline-block;
}

.buffs .tooltip{
    margin-left: 4px;
}

.enemyBuffs .tooltip{
	margin-right: 2px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgb(20, 20, 20);
	color: #fff;
	font-size: 10px;
    text-align: center;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
	transition: opacity 0.3s;
	z-index:4000;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
	border-color: rgb(20, 20, 20) transparent transparent transparent;
	z-index:4000;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
	opacity: 1;
	z-index:4000;
}

.tooltip:before {
    content: "";
    display: block;
    position: absolute;
    border-width: 7px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
    opacity: 0;
    transition: all .2s ease-in-out .25s;
    visibility: hidden;
}
