<div class="top-banner">
    <div class="header">
        <div class="container">
            <div class="headr-left">
                <div class="details">
                    <ul>
                        <li>
                            <img src="../../assets/mainPage/user-icon-white.png" class="img-responsive" id="user-icon"
                                alt="" style="float:left" (click)="goToTheGame('alma', 'alma')" />
                            Itachiviktor
                        </li>
                    </ul>
                </div>
            </div>
            <div class="headr-right">
                <div class="ownSocial">
                    <a href="#"><i class="facebook"></i></a>
                    <a href="#"><i class="twitter"></i></a>
                    <a href="#"><i class="gplus"></i></a>
                    <a href="#"><i class="pin"></i></a>
                    <a href="#"><i class="youtube"></i></a>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="banner-info">
        <div class="container">
            <div class="top-menu">
                <span class="menu"></span>
                <ul class="nav1">
                    <li class="active"><a href="index.jsp">Home</a></li>
                    <li><a href="about.jsp">About</a></li>
                    <li><a href="missions.jsp">Missions</a></li>
                    <li><a href="typo.jsp">News</a></li>
                    <li><a href="profile.jsp">Profile</a></li>
                    <li><a href="login.html">Login</a></li>
                </ul>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="slider">
    <div class="callbacks_container">
        <ul class="rslides" id="slider">
            <div class="slid banner1"></div>
        </ul>
    </div>
</div>
<div class="content">
    <div class="container">
        <div class="top-games">
            <h3>Top 10 Players</h3>
            <ul>
                <li>
                    <div class="ladderCharacterImg">
                        <img src="../../assets/mainPage/zoroavatar.png" class="img-responsive" alt="" />
                    </div>
                    <div class="ladderCharacterDetails">
                        username: Itachiviktor<br>
                        rank: ghoul<br>
                        clan: alma<br>
                        level: 23<br>
                        ladderrank: 1
                    </div>
                    <div class="clearfix"></div>
                </li>
                <li>
                    <div class="ladderCharacterImg">
                        <img src="../../assets/mainPage/luffyavatar.png" class="img-responsive" alt="" />
                    </div>
                    <div class="ladderCharacterDetails">
                        username: Itachiviktor<br>
                        rank: ghoul<br>
                        clan: alma<br>
                        level: 23<br>
                        ladderrank: 1
                    </div>
                    <div class="clearfix"></div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="poster">
    <div class="container">
        <div class="poster-info">
            <h3>Welcome our new character Kira.</h3>
            <p>Kira is the figure attributed with causing the mass heart attack deaths of criminals. The name Kira was
                created by the public in response to Light Yagami's initial use of the Death Note, and various members
                of
                the public view Kira as a god. Various Death Note users act as Kira, but their identities are unknown
                to
                the public so their actions are viewed as being committed by one entity.</p>
            <a class="hvr-bounce-to-bottom" href="reviews.html">Read More</a>
        </div>
    </div>
</div>
<div class="x-box">
    <div class="container">
        <div class="x-box_sec">
            <div class="col-md-7 x-box-left">
                <h2>Crown hunting</h2>
                <h3>Summer execution for the crown.</h3>
                <p>In this event you can fight for the crown against your enemies. At last, only one champion can earn
                    the award.
                    In this summer you can show, how skilled you are. Dont waste your time.</p>
                <a class="hvr-bounce-to-top" href="reviews.html">Read More</a>
            </div>
            <div class="col-md-5 x-box-right">
                <img src="../../assets/mainPage/medal.png" class="img-responsive" alt="" />
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="container">
        <div class="footer-grids">
            <div class="col-md-3 ftr-info">
                <h3>About Us</h3>
                <p>Sed faucibus mollis laoreet. Sed vehicula faucibus tristique lectus a orci molestie finibus.
                    Suspendisse pharetra, metus sed rutrum pretium.</p>
            </div>
            <div class="col-md-3 ftr-grid">
                <h3>Categories</h3>
                <ul class="ftr-list">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Racing</a></li>
                    <li><a href="#">Adventure</a></li>
                    <li><a href="#">Simulation</a></li>
                    <li><a href="#">Bike</a></li>
                </ul>
            </div>
            <div class="col-md-3 ftr-grid">
                <h3>Platform</h3>
                <ul class="ftr-list">
                    <li><a href="#">Pc</a></li>
                    <li><a href="#">Ps4</a></li>
                    <li><a href="#">XBOX 360</a></li>
                    <li><a href="#">XBOX ONE</a></li>
                    <li><a href="#">PSP</a></li>
                </ul>
            </div>
            <div class="col-md-3 ftr-grid">
                <h3>Information</h3>
                <ul class="ftr-list">
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Wish Lists</a></li>
                    <li><a href="#">Site Map</a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="copywrite">
    <div class="container">
        <p> © 2019 Game Box. All rights reserved | Based on Japanese anime</p>
    </div>
</div>