#profileArea{
	width:486px;
    height:201px;
	float:left;
	background-image: url("../../../assets/selection/Accountbackground.png");
}

#profileImage{
	width:77px;
	height:77px;
	margin-top:10px;
	margin-left:20px;
	float:left;
}

#profileInformation{
	width:300px;
	height:200px;
	float:left;
}

#profileImage img{
	border: 1px solid white;
}

.profileInformationCommon{
	width:300px;
	height:27px;
	float:left;
	margin-top:3px;
	margin-left:10px;
	font-size:22px;
	color:white;
	font-family: good-times-font;
}
