<div id="profileArea">
    <div id="profileImage"><img src="{{profileImg}}"/></div>
    <div id="profileInformation" class="profileInformationCommon" *ngIf="selectionProfile">
      <div id="profileName" class="profileInformationCommon">{{selectionProfile.userName}}</div>
      <div id="profileRank" class="profileInformationCommon">{{selectionProfile.rank}}</div>
      <div id="profileClan" class="profileInformationCommon">CLAN: {{selectionProfile.clan}}</div>
      <div id="profileLevel" class="profileInformationCommon">LEVEL: {{selectionProfile.level}}</div>
      <div id="profileLadderRank" class="profileInformationCommon">LADDERRANK: #{{selectionProfile.ladderRank}}</div>
      <div id="profileRatio" class="profileInformationCommon">RATIO: {{selectionProfile.wins}}-{{selectionProfile.loses}}(+{{selectionProfile.ratio}})</div>
    </div>
</div>
