<div id="information">
  <div id="playerProfile">
    <div class="enemyProfileCollector" *ngIf="user">
      <div id="playerPictureDiv"><img src="{{user.imageName}}" class="profilePicture" id="enemyPicture"/></div>
      <div id="playerName">{{user.userName}}</div>
    </div>
  </div>
  <div id="enemyProfile">
    <div class="enemyProfileCollector" *ngIf="enemyUser">
      <img src="{{enemyUser.imageName}}" class="profilePicture" id="enemyPicture"/>
      <p id="enemyName">{{enemyUser.userName}}<p>
    </div>
  </div>
</div>
