@font-face {
    font-family: good-times-font;
    src: url(../../../assets/fonts/good_times.ttf);
}

.clear {
	clear:both;
}

#information{
    width:1000px;
    height:90px;
}

#playerProfile{
    width:300px;
    height:90px;
	float:left;
}

#enemyProfile{
    width:300px;
    height:90px;
	float:right;
}

#enemyName{
	font-family: good-times-font;
	font-size:20px;
	color:white;
	float:left;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
	margin: 5px 0px 0px 5px;
}

#enemyPicture{
	float:left;
}

.profilePicture{
    width:55px;
	height:55px;
}

#playerName{
	font-family: good-times-font;
	font-size:20px;
	color:white;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
	margin: 20px 5px 0px 0px;
	float:right;
}

#playerPictureDiv{
	width:57px;
	height:57px;
	float:right;
	margin-top: 15px;
}

img{
	border: 1px solid;
}
