@font-face {
    font-family: good-times-font;
    src: url("../../../assets/fonts/good_times.ttf");
}

#charactersArea{
    width:238px;
    height:460px;
	float:left;
}

.selectedCharacterArea{
    width:238px;
    height:85px;
    margin-top: 70px;
    background-image: url("../../../assets/selection/SelectedCharBack.png");
}

.characterRoundedImage{
    width: 57px;
    height: 85px;
    margin-left: 20px;
}

.characterRoundedImage img{
    width:57px;
    height:57px;
    border-radius: 50%;
    border: 1px solid white;
    margin-top:15px;
}

.selectedCharacterArea div{
    float:left;
}

.selectedCharacterName{
    width: 150px;
    height: 35px;
    font-family: good-times-font;
    color: white;
    font-size: 18px;
}

.selectedCharacterSelectedItems{
    width:70px;
    height:30px;
}

.characterInformation{
    margin-left: 10px;
    margin-top: 15px;
}

.item{
    width: 27px;
    height: 27px;
    margin-right: 5px;
    border: 1px solid white;
}

.panel-body img{
    width: 27px;
    height: 27px;
}
