<div id="charactersArea">
    <div class="selectedCharacterArea" *ngFor="let character of selectedCharacters">
        <div *ngIf="character">
            <div class="characterRoundedImage">
                <img src="{{character.img}}" (dblclick) = "removeCharacterFromSlot(character)"/>
            </div>
            <div class="characterInformation">
                <div class="selectedCharacterName">{{character.name}}</div>
                <div style="clear: left;"></div>
                <div class="selectedCharacterSelectedItems">
                    <div (onDropSuccess)="transferDataSuccess($event, character, i)" 
                            dnd-droppable
                            class = "item panel panel-info" 
                            *ngFor="let item of character.items; let i=index">
                        <div class="panel-body" *ngIf="item">
                            <img src="{{item.img}}"/>
                        </div>
                    </div>
                </div>
            </div>
            <div style="clear: left;"></div>
        </div>
    </div>
</div>
