#outer{
    width:1000px;
    height:770px;
    background-image: url("../../../assets/selection/background.png");
}

#itemsArea{
	width:191px;
    height:65px;

	float:left;
	margin-left:-35px;
	margin-top:-10px;
}

#outerRing{
	width:1000px;
    height:700px;
    background-image: url("../../../assets/gameload/loadingImage.png");
}

.ring{
	position: absolute;
	margin-top: 355px;
	margin-left: 505px;
	transform: translate(-50%, -50%);
	width: 250px;
	height: 250px;
	background: transparent;
	border: 3px solid #3c3c3c;
	border-radius: 50%;
	text-align: center;
	line-height: 150px;
	font-family: sans-serif;
	font-size: 20px;
	color: white;
	letter-spacing: 4px;
	text-transform: uppercase;
	text-shadow: 0 0 10px white;
	box-shadow: 0 0 20px rgba(0,0,0,.5);
}

.ring:before{
	content: '';
	position: absolute;
	top: -3px;
	left: -3px;
	width: 100%;
	height: 100%;
	border: 3px solid transparent;
	border-top: 3px solid white;
	border-right: 3px solid white;
	border-radius: 50%;
	animation: animateCircle 2s linear infinite;
}

@keyframes animateCircle{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}
