<app-main-game *ngIf="isGameReady" [gameState] ="gameState"></app-main-game>
<div id="outerRing" *ngIf="isLoadingPageActive">
    <div class="ring">
      Searching
    </div>
</div>
<div id="outer" *ngIf="isSelectionVisible()">
   <app-selection-selected-characters-and-items></app-selection-selected-characters-and-items>
   <router-outlet (activate)="onActivate($event)"></router-outlet>
   <app-selection-user-profile></app-selection-user-profile>
   <div id="itemsArea" (click)='routing()' [style.backgroundImage]="'url(' + urlImg + ')'"></div>
   <app-selection-navigation-bar></app-selection-navigation-bar>
</div>
