.window{
    width:438px;
    height:217px;
    z-index: 5000;
    position: absolute;
    top:281px;
    left:242px;
    background-image: url("../../../assets/game/surrender.png");
}

.ok{
    width:100px;
    height:35px;
    background-image: url("../../../assets/game/okayButtonSurrender.png");
    float:left;
    margin-left: 100px;
    margin-top: 200px;
}

.cancel{
    width:100px;
    height:35px;
    background-image: url("../../../assets/game/cancelButtonSurrender.png");
    float: left;
    margin-left: 40px;
    margin-top: 200px;
}

.modal{
    position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.75);
        opacity: 0.75;
        z-index: 4999;
}
