<div id="outer">
    <app-game-user-profiles *ngIf="gameState" [enemyUser] = "gameState.enemyUser" [user] = "gameState.user"></app-game-user-profiles>
	<app-game *ngIf="gameState" 
	[characters] = "gameState.characters" 
	[enemyCharacters] = "gameState.enemyCharacters"
	[userRank]="gameState.user.rank"
	[enemyUserRank]="gameState.enemyUser.rank"
	[ownTheRound]="gameState.startsTheGame"></app-game>
	<div class="bottomArea">
		<app-turn-handler *ngIf="gameState" 
		[ability] = "getCost('ability')" 
		[power] = "getCost('power')" 
		[tactic] = "getCost('tactic')" 
		[tool] = "getCost('tool')" ></app-turn-handler>
		<div id="buttonArea">
			<img src="../../../assets/game/SurrenderButton.png" 
				class="button" 
				id="surrender"
				(click)="surrenderClickHandler()"/>
			<img src="../../../assets/game/VolumeButton.png" 
				class="button" 
				id="volume"
				(click)="soundClickHandler()"
				[ngClass]="{'greyedImage' : !isSoundPlayAvailable()}"/>
		</div>
		<app-character-descriptor></app-character-descriptor>
	</div>
	<app-surrender *ngIf="isSurrenderVisible"></app-surrender>
	<app-game-result *ngIf="isResultVisible"></app-game-result>
	<app-exchange *ngIf="isExchangeVisible"></app-exchange>
	<app-turn-changer *ngIf="isTurnChangerVisible"></app-turn-changer>
</div>
