@font-face {
    font-family: good-times-font;
    src: url(../../../assets/fonts/good_times.ttf);
}

.clear {
	clear:both;
}

html, body {
    padding:0px;
    margin:0px;
	cursor: url('../../../assets/game/cursor.png'), auto;
}

#outer{
    width:1000px;
    height:700px;
    background-image: url("../../../assets/game/backg.png");
}

.bottomArea{
	width:1000px;
	height:235px;
	position:absolute;
	top:465px;
}

#buttonArea{
	width:159px;
	height:215px;
	float:left;
}

#surrender{
	position:absolute;
	top:30px;
	left:305px;
	z-index:2;
}

#volume{
	position:absolute;
	top:105px;
	left:305px;
	z-index:1;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; 
    left: 0;
    top: 0;
    width: 1000px;
    height: 700px;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
	border:2px solid;
    width: 557px;
	height:262px;
	margin-left:219px;
	margin-top:217px;
	background-image: url("../../../assets/game/win.png");
}

.greyedImage{
	opacity: .5;
}
