<div id="gameInformation">
  <p id="turnOwner">{{title}}</p>
  <div id="timeLine">
    <div id="actualTime" [ngStyle]="{'width.px': actualTimeWidth}"></div>
  </div>
  <div id="costs">
    <div id="ability" class="cost"></div>
    <div id="abilityNumber" class="costNumber">{{ability}}</div>
    <div id="power" class="cost"></div>
    <div id="powerNumber" class="costNumber">{{power}}</div>
    <div id="tactic" class="cost"></div>
    <div id="tacticNumber" class="costNumber">{{tactic}}</div>
    <div id="tool" class="cost"></div>
    <div id="toolNumber" class="costNumber">{{tool}}</div>
    <div id="nocost" class="cost"></div>
    <div id="nocostNumber" class="costNumber">{{ability + power + tactic + tool - usedRandom}}</div>
  </div>
  <div id="exchange">
    <img src="../../../assets/game/exchange.png" class="notBordered" (click)="onExchangeHandler()" [ngStyle]="{'opacity' : isPlayerTurn == false ? '0.4' : '1'}" />
  </div>
  <div id="gameTurnChange">
    <img src="../../../assets/game/turn.png" class="notBordered" (click)="onTurnChangeHandler()" [ngStyle]="{'opacity' : isPlayerTurn == false ? '0.4' : '1'}" />
  </div>
  <img src="../../../assets/game/TurnBar.png" class="notBordered" />
</div>