#gameInformation{
    width:300px;
    height:180px;
	float:left;
	margin-left:25px;
}

#gameInformation img{
	position:absolute;
	top:15px;
	z-index:5;
}

#turnOwner{
	position:absolute;
	top:45px;
	left:115px;
	z-index:11;
	font-family: good-times-font;
	font-size:20px;
}

#gameTurnChange{
	width:96px;
	height:41px;
	position:absolute;
	top:125px;
	left:200px;
	z-index:10;
}

#exchange{
	width:96px;
	height:41px;
	position:absolute;
	top:127px;
	left:90px;
	z-index:10;
}

#timeLine{
	width:210px;
	height:16px;
	background-color:white;
	border:1px solid;
	position:absolute;
	top:90px;
	left:85px;
	z-index:11;
}

#actualTime{
	width:208px;
	height:14px;
	background-color: red;
	position:absolute;
	top: 1px;
	left: 1px;
	z-index: 12;
}

#costs{
	width:210px;
	height:16px;
	position:absolute;
	top:115px;
	left:85px;
	z-index:11;
}

.cost{
	width:10px;
	height:10px;
	border:1px solid;
	float:left;
	margin-left:11px;
}

.costNumber{
	width:18px;
	height:15px;
	font-size:12px;
}

#ability{
	background-color:purple;
}

#power{
	background-color:green;
}

#tactic{
	background-color:white;
}

#tool{
	background-color:red;
}

#random{
	background-color:black;
}

.costNumber{
	float:left;
}
