<div class="container">
  <div class="row main">
    <div class="main-login main-center" style="background-color:rgba(105, 210, 232, .5)">
      <form>
        <div class="form-group">
          <label for="name" class="cols-sm-2 control-label">Username</label>
          <div class="cols-sm-10">
            <div class="input-group username-input-group">
              <span class="input-group-addon user"><div></div></span>
              <input type="text" class="form-control" name="name" id="name" placeholder="Enter your Name" 
              [(ngModel)] = "username"/>
              <p id="name"></p>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="email" class="cols-sm-2 control-label">Your Email</label>
          <div class="cols-sm-10">
            <div class="input-group email-input-group">
              <span class="input-group-addon envelope"><div></div></span>
              <input type="text" class="form-control" name="email" id="email" placeholder="Enter your Email" 
              [(ngModel)] = "email"/>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="password" class="cols-sm-2 control-label">Password</label>
          <div class="cols-sm-10">
            <div class="input-group password-input-group">
              <span class="input-group-addon key"><div></div></span>
              <input type="password" class="form-control" name="password" id="password" placeholder="Enter your Password" 
              [(ngModel)] = "password"/>
              <p id="password"></p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
          <div class="cols-sm-10">
            <div class="input-group confirm-input-group">
              <span class="input-group-addon key"><div></div></span>
              <input type="password" class="form-control" name="confirm" id="confirm" placeholder="Confirm your Password" />
              <p id="confirm"></p>
            </div>
          </div>
        </div>

        <img src="../../../assets/mainPage/errorIcon.png" class="img-responsive existing-error" alt="" style="width:18px;height:18px; float:left" />
        <p class="existing-error" style="color:red">The username is exists!</p>
        <div class="clearfix"></div>
        <img src="../../../assets/mainPage/errorIcon.png" class="img-responsive too-long-error" alt="" style="width:18px;height:18px; float:left" />
        <p class="too-long-error" style="color:red">Too long username, the maximum characters number is 40!</p>
        <div class="clearfix"></div>
        <img src="../../../assets/mainPage/errorIcon.png" class="img-responsive different-error" alt="" style="width:18px;height:18px; float:left" />
        <p class="different-error" style="color:red">Passwords are different!</p>
        <div class="clearfix"></div>
        <img src="../../../assets/mainPage/errorIcon.png" class="img-responsive weak-error" alt="" style="width:18px;height:18px; float:left" />
        <p class="weak-error" style="color:red">Password is weak!</p>
        <div class="clearfix"></div>
        <img src="../../../assets/mainPage/errorIcon.png" class="img-responsive email-error" alt="" style="width:18px;height:18px; float:left" />
        <p class="email-error" style="color:red">The e-mail format is wrong!</p>
        <div class="clearfix"></div>
        <img src="../../../assets/mainPage/errorIcon.png" class="img-responsive check-error" alt="" style="width:18px;height:18px; float:left" />
        <p class="check-error" style="color:red">Please check the robot validator!</p>
        <div class="clearfix"></div>
        <img src="../../../assets/mainPage/errorIcon.png" class="img-responsive not-empty-error" alt="" style="width:18px;height:18px; float:left" />
        <p class="not-empty-error" style="color:red">These fields cannot be empty!</p>
        <div class="clearfix"></div>

        <div class="g-recaptcha" data-sitekey="6LeNTzYUAAAAAAjRhMCuUlx3KvCP1kcPXzq0EsYM"></div>
        <div class="form-group ">
          <input type="button" id="button" class="btn btn-primary btn-lg btn-block login-button" value="register"
          (click) = "onRegisterHandler()" >
        </div>
      </form>
    </div>
  </div>
</div>