<div id="allCharacters">
  <div id="title">{{_stateOfCharacterSelection}}</div>
  <div id="characters" *ngIf="allItem">
      <div class="characterProfile panel panel-default" *ngFor="let item of allItem">
          <div class="characterImg" dnd-draggable [dragEnabled]="item.owned" [dragData]="item">
              <img src="{{item.img}}"
                   [class.isActive]="item.isActive" 
                   [class.isNotActive]="!item.isActive" 
                   [class.inactive]="!item.owned"/>
          </div>
          <div class="characterName"></div>
      </div>
  </div>
</div>
