.windowElement{
    width:536px;
    height:235px;
    background-image: url("../../../assets/game/loseWindow.png");
    z-index: 6000;
    position: absolute;
    top: 200px;
    left:200px;
}

.modal{
    position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.75);
        opacity: 0.75;
        z-index: 4999;
}