<div id="buttonsArea">
    <img src="{{rankedImg}}" id="ranked" [class.notActive]="rankedDisabled" (click) = "onRankedHandler()"/>
    <img src="{{quickImg}}" id="quick" [class.notActive]="quickDisabled" (click) = "onQuickHandler()"/>
    <img src="{{privateImg}}" id="private" [class.notActive]="privateDisabled" (click) = "onPrivateHandler()"/>
    <img src="{{eventImg}}" id="event" [class.notActive]="eventDisabled" (click) = "onEventHandler()"/>
    <img src="{{logoutImg}}" id="logout" [class.notActive]="logoutDisabled" (click) = "onLogoutHandler()"/>
</div>
