#descriptionArea{
    width:515px;
    height:235px;
	float:left;
}

#descriptionArea img{
	position:absolute;
	left:430px;
	z-index:5;
}

.descriptionCost{
	width:14px;
	height:14px;
	border:1px solid;
	float:left;
	margin-left:5px;
	margin-top:3px;
}

#ability{
	background-color:purple;
}

#power{
	background-color:green;
}

#tactic{
	background-color:white;
}

#tool{
	background-color:red;
}

#random{
	background-color:black;
}

#descriptionImage{
	position:absolute;
	top:45px;
	left:35px;
	z-index:11;
}

#descriptionImage img{
	border: 1px solid;
}

#skillName{
	width:225px;
	height:30px;
	position:absolute;
	top:45px;
	left:550px;
	z-index:11;
	font-family: good-times-font;
	font-size:15px;
	color:white;
	float:left;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#descriptionCosts{
	width:100px;
	height:27px;
	position:absolute;
	top:45px;
	left:810px;
	z-index:20;
}

#descriptionNoCost{
	width:100px;
	height:27px;
	position:absolute;
	top:45px;
	left:814px;
	z-index:20;
	color: gray;
}

#costsString{
	position:absolute;
	top:45px;
	left:775px;
	width:25px;
	height:27px;
	z-index:21;
	color:white;
}

#skillDescriptionText{
	position:absolute;
	top:65px;
	left:550px;
	width:360px;
	height:110px;
	z-index:21;
	font-size:13px;
}

#descriptionClasses{
	position:absolute;
	top:180px;
	left:550px;
	width:200px;
	height:15px;
	z-index:21;
	font-size:10px;
	color:white;
}

#descriptionCooldown{
	position:absolute;
	top:180px;
	left:800px;
	width:110px;
	height:15px;
	z-index:21;
	font-size:10px;
	color:white;
}
