<div id="descriptionArea">
    <img src="../../../assets/game/skillDesc.png" class="notBordered" />
    <div id="descriptionImage" *ngIf="skill"><img src="{{skill.imageName}}" /></div>
    <div id="skillName" *ngIf="skill">{{skill.name}}</div>
    <div id="costsString" *ngIf="skill">costs:</div>
    <div id="descriptionCosts" *ngIf="skill">
        <div *ngFor="let cost of skill.costs" id="{{cost}}" class="descriptionCost"></div>
    </div>
    <div id="descriptionNoCost" *ngIf="isNoCostTitleNeeded()">No Costs</div>
    <div id="skillDescriptionText" *ngIf="skill">{{skill.description}}</div>
    <div id="descriptionClasses" *ngIf="skill">CLASSES: {{skill.classes}}</div>
    <div id="descriptionCooldown" *ngIf="skill">COOLDOWN: {{getCooldownValue(skill.cooldown)}}</div>
</div>