<div class="exchangeWindow">
  <div class="chooseRandomEnergy">( {{actualRandomUsed}} )</div>
  <div class="energyLeft">
    <div>{{actualCostsMemory[0]}}</div>
    <div>{{actualCostsMemory[1]}}</div>
    <div>{{actualCostsMemory[2]}}</div>
    <div>{{actualCostsMemory[3]}}</div>
  </div>
  <div class="clear"></div>
  <div class="randomNumbers">
    <div>{{exchangedCosts[0]}}</div>
    <div>{{exchangedCosts[1]}}</div>
    <div>{{exchangedCosts[2]}}</div>
    <div>{{exchangedCosts[3]}}</div>
  </div>
  <div class="clear"></div>
  <div class="random">
    <div class="operations">
      <div (click)="abilityDecreaseHandler()">-</div>
      <div (click)="abilityIncreaseHandler()">+</div>
    </div>
    <div class="operations">
      <div (click)="powerDecreaseHandler()">-</div>
      <div (click)="powerIncreaseHandler()">+</div>
    </div>
    <div class="operations">
      <div (click)="tacticDecreaseHandler()">-</div>
      <div (click)="tactiIncreaseHandler()">+</div>
    </div>
    <div class="operations">
      <div (click)="toolDecreaseHandler()">-</div>
      <div (click)="toolIncreaseHandler()">+</div>
    </div>
  </div>
  <div class="skillsDiv">
    <div class="forward" (click)="onForwardHandler()"></div>
    <div class="skills">
      <ul class="todo-list" dnd-sortable-container [sortableData]="usedSkills">
        <li *ngFor="let skill of usedSkills; let i = index" dnd-sortable [sortableIndex]="i" [dragData]="skill">
          <ng-container *ngIf="isSkillVisible(i)"><img src="{{skill.imageName}}" class="skill" /></ng-container>
        </li>
      </ul>
    </div>
    <div class="backward" (click)="onBackwardHandler()"></div>
  </div>
  <div class="buttonsDiv">
    <div class="okay" *ngIf="actualRandomUsed == 0" (click)="okayHandler()"></div>
    <div class="cancel" (click)="cancelHandler()"></div>
  </div>
</div>
<div class="modal"></div>