.exchangeWindow{
    width:500px;
    height:245px;
    background-image: url("../../../assets/game/roundChanger.png");
    z-index: 5000;
    position: absolute;
    top:150px;
    left:242px;
}

.clear {
	clear:both;
}

ul{
    list-style-type: none;
}

.skill{
    width:33px;
    height:33px;
    border: 1px solid white;
    float:left;
    margin-right: 5px;
}

.forward{
    width:30px;
    height:40px;
    background-image: url("../../../assets/game/leftButton.png");
    float:left;
}

.backward{
    width:30px;
    height:40px;
    background-image: url("../../../assets/game/rightButton.png");
    float: left;
}

.notVisible{
    visibility: hidden;
}

.modal{
    position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.75);
        opacity: 0.95;
        z-index: 4999;
}

.okay{
    width:100px;
    height:35px;
    background-image: url("../../../assets/game/okayButtonSurrender.png");
    float:left;
}

.cancel{
    width:100px;
    height:35px;
    background-image: url("../../../assets/game/cancelButtonSurrender.png");
    float:left;
}

.buttonsDiv{
    margin-top:70px;
    margin-left:120px;
}

.skillsDiv{
    margin-top: 25px;
    margin-left: 30px;
}

.energyLeft div{
    float: left;
    color: white;
    margin-left: 13px;
    width: 24px;
    text-align: right;
}

.energyLeft{
    margin-top:32px;
    margin-left: 42px;
}

.operations{
    float: left;
    color: white;
    margin-left: 13px;
    width: 24px;
}

.operations div{
    font-size: 20px;
    font-weight: bold;
}

.operations div{
    float: left;
    color: white;
    margin-right: 2px;
}

.randomNumbers div{
    float: left;
    color: white;
    margin-left: 13px;
    width: 24px;
    text-align: right;
}

.randomNumbers{
    margin-top: 40px;
    margin-left: 42px;
}

.random{
    margin-left: 60px;
}

.chooseRandomEnergy{
    color: white;
    font-size: 25px;
    margin-top: 35px;
    margin-left: 140px;
}