<div class="exchangeWindow">
  <div class="exchangeCost">( {{actualExchangeCost}} )</div>
  <div class="energyLeftEx">
    <div>{{actualCostsMemory[0]}}</div>
    <div>{{actualCostsMemory[1]}}</div>
    <div>{{actualCostsMemory[2]}}</div>
    <div>{{actualCostsMemory[3]}}</div>
  </div>
  <div class="clear"></div>
  <div class="randomNumbersEx">
    <div>{{exchangedCosts[0]}}</div>
    <div>{{exchangedCosts[1]}}</div>
    <div>{{exchangedCosts[2]}}</div>
    <div>{{exchangedCosts[3]}}</div>
  </div>
  <div class="clear"></div>
  <div class="randomEx">
    <div class="operationsEx">
      <div (click)="abilityDecreaseHandler()">-</div>
      <div (click)="abilityIncreaseHandler()">+</div>
    </div>
    <div class="operationsEx">
      <div (click)="powerDecreaseHandler()">-</div>
      <div (click)="powerIncreaseHandler()">+</div>
    </div>
    <div class="operationsEx">
      <div (click)="tacticDecreaseHandler()">-</div>
      <div (click)="tactiIncreaseHandler()">+</div>
    </div>
    <div class="operationsEx">
      <div (click)="toolDecreaseHandler()">-</div>
      <div (click)="toolIncreaseHandler()">+</div>
    </div>
  </div>
  <div class="costButtons">
    <div id="abilityButton" class="costButton" [ngStyle]="{'width.px': costsWidths[0], 'height.px': costsWidths[0]}" (click)="costClickhandler(0)"></div>
    <div id="powerButton" class="costButton" [ngStyle]="{'width.px': costsWidths[1], 'height.px': costsWidths[1]}" (click)="costClickhandler(1)"></div>
    <div id="tacticButton" class="costButton" [ngStyle]="{'width.px': costsWidths[2], 'height.px': costsWidths[2]}" (click)="costClickhandler(2)"></div>
    <div id="toolButton" class="costButton" [ngStyle]="{'width.px': costsWidths[3], 'height.px': costsWidths[3]}" (click)="costClickhandler(3)"></div>
  </div>
  <div class="clear"></div>
  <div class="buttonsDivEx">
      <div class="okay" *ngIf="actualExchangeCost == 0 && this.selectedCostIndex != -1" (click)="okayHandler()"></div>
      <div class="cancel" (click)="cancelHandler()"></div>
  </div>
</div>
<div class="modal"></div>