.exchangeWindow{
    width:500px;
    height:245px;
    background-image: url("../../../assets/game/exchangeEnergy.png");
    z-index: 5000;
    position: absolute;
    top:150px;
    left:242px;
}

.clear {
	clear:both;
}

.modal{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    opacity: 0.75;
    z-index: 4999;
}

.continue{
    width:196px;
    height:45px;
    background-image: url("../../../assets/game/continue.png");
    margin-top:200px;
    margin-left:120px;
}

.exchangeCost{
    color: white;
    margin-left: 145px;
    margin-top: 38px;
    font-size: 20px;
}

#abilityButton{
	background-color:purple;
}

#powerButton{
	background-color:green;
}

#tacticButton{
	background-color:white;
}

#toolButton{
	background-color:red;
}

.costButton{
	width:10px;
	height:10px;
	border:1px solid;
	float:left;
    margin-left:25px;
}

.costButtons{
    margin-left: 54px;
    margin-top: 40px;
}

.energyLeftEx div{
    float: left;
    color: white;
    margin-left: 13px;
    width: 24px;
    text-align: right;
}

.energyLeftEx{
    margin-top:34px;
    margin-left: 40px;
}

.operationsEx{
    float: left;
    color: white;
    margin-left: 13px;
    width: 24px;
}

.operationsEx div{
    font-size: 20px;
    font-weight: bold;
}

.operationsEx div{
    float: left;
    color: white;
    margin-right: 2px;
}

.randomNumbersEx div{
    float: left;
    color: white;
    margin-left: 13px;
    width: 24px;
    text-align: right;
}

.randomNumbersEx{
    margin-top: 40px;
    margin-left: 38px;
}

.randomEx{
    margin-left: 60px;
}


.okay{
    width:100px;
    height:35px;
    background-image: url("../../../assets/game/okayButtonSurrender.png");
    float:left;
}

.cancel{
    width:100px;
    height:35px;
    background-image: url("../../../assets/game/cancelButtonSurrender.png");
    float:left;
}

.buttonsDivEx{
    margin-top:30px;
    margin-left:120px;
}

